<h1>Summary:</h1>

<ul>
  <li> Letters: <%= @letters%></li>
  <li>Answer: <%= @answer%></li>
  <li>Score: <%= @final_score%></li>
  <li>Message: <%= @message%></li>
</ul>

<%= link_to "Play again!", new_path %>
